################################################################################
## Simple DB Backup
##
## Unit and integration testing configuration
################################################################################

## Database for testing the Database package
DB_HOST="localhost"
DB_NAME="dbbackuptest"
DB_USER="dbbackup"
DB_PASS="DBb@c|<uP"